# Dependencies
node_modules/
package-lock.json

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.local

# Testing
coverage/

# Build
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
